$profile-player-label-img-size: 70px;
$profile-player-label-radius: calc($profile-player-label-img-size / 2);
$profile-player-active-label-img-size: calc($profile-player-label-img-size * 1.5);
$profile-player-active-label-radius: calc($profile-player-active-label-img-size / 2);


.player {
    border-top-left-radius: $profile-player-label-radius;
    border-bottom-left-radius: $profile-player-label-radius;
    width: 300px;
    display: flex;
    align-items: center;

    background-color: rgb(182, 179, 174, 0.7);


    img {
        max-width: $profile-player-label-img-size;
        max-height: $profile-player-label-img-size;
        object-fit: cover;
        border-radius: 100%;
    }


    span {
        margin-left: 16px;
        font-size: 32px;
    }
}


.player-active {
    background-color: orange !important;
}