@import '../../styles.scss';


#field {
    @include fullView();
    @include dFlex();

    background-image: url('/assets/img/tabletop_wood.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


#card-stack {
    position: relative;

    @include dFlex();


    img {
        position: absolute;
        width: 120px;
    }
}


#top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}


.draw-card {
    transition: all 125ms ease-in-out;
    transform: scale(1.5) !important;

}